<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contact-info-heading"
        data-cy="ContactInfoCreateUpdateHeading"
        jhiTranslate="schoolPayApp.contactInfo.home.createOrEditLabel"
      >
        Create or edit a Contact Info
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.recordUniqueIdentifier" for="field_recordUniqueIdentifier"
            >Record Unique Identifier</label
          >
          <input
            type="text"
            class="form-control"
            name="recordUniqueIdentifier"
            id="field_recordUniqueIdentifier"
            data-cy="recordUniqueIdentifier"
            formControlName="recordUniqueIdentifier"
          />
          <div
            *ngIf="
              editForm.get('recordUniqueIdentifier')!.invalid &&
              (editForm.get('recordUniqueIdentifier')!.dirty || editForm.get('recordUniqueIdentifier')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recordUniqueIdentifier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.contactId" for="field_contactId">Contact Id</label>
          <input type="text" class="form-control" name="contactId" id="field_contactId" data-cy="contactId" formControlName="contactId" />
          <div *ngIf="editForm.get('contactId')!.invalid && (editForm.get('contactId')!.dirty || editForm.get('contactId')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.emailAddress" for="field_emailAddress">Email Address</label>
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.parentsPhoneNumber" for="field_parentsPhoneNumber"
            >Parents Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="parentsPhoneNumber"
            id="field_parentsPhoneNumber"
            data-cy="parentsPhoneNumber"
            formControlName="parentsPhoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'schoolPayApp.RecordStatus.null' | translate }}</option>
            <option *ngFor="let recordStatus of recordStatusValues" [value]="recordStatus">
              {{ 'schoolPayApp.RecordStatus.' + recordStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="schoolPayApp.contactInfo.isDeleted"
            for="field_isDeleted"
            [ngbTooltip]="'schoolPayApp.contactInfo.help.isDeleted' | translate"
            >Is Deleted</label
          >
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.contactInfo.student" for="field_student">Student</label>
          <select
            class="form-control"
            id="field_student"
            data-cy="student"
            name="student"
            formControlName="student"
            [compareWith]="compareStudent"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="studentOption" *ngFor="let studentOption of studentsSharedCollection">{{ studentOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
