<div>
  <h2 id="page-heading" data-cy="PaymentEntHeading">
    <span jhiTranslate="schoolPayApp.paymentEnt.home.title">Payment Ents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schoolPayApp.paymentEnt.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-ent"
        [routerLink]="['/payment-ent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schoolPayApp.paymentEnt.home.createLabel"> Create a new Payment Ent </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentEnts?.length === 0">
    <span jhiTranslate="schoolPayApp.paymentEnt.home.notFound">No Payment Ents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="paymentEnts && paymentEnts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recordUniqueIdentifier">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.recordUniqueIdentifier">Record Unique Identifier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.paymentId">Payment Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentCode">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.paymentCode">Payment Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.customerId">Customer Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feeAmount">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.feeAmount">Fee Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isAmountFixed">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.isAmountFixed">Is Amount Fixed</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feeDescription">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.feeDescription">Fee Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fixedAmount">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.fixedAmount">Fixed Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentName">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.paymentName">Payment Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="outstandingAmount">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.outstandingAmount">Outstanding Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentChannel">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.paymentChannel">Payment Channel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="biller.id">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.paymentEnt.biller">Biller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentEnt of paymentEnts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-ent', paymentEnt.id, 'view']">{{ paymentEnt.id }}</a>
          </td>
          <td>{{ paymentEnt.recordUniqueIdentifier }}</td>
          <td>{{ paymentEnt.paymentId }}</td>
          <td>{{ paymentEnt.paymentCode }}</td>
          <td>{{ paymentEnt.customerId }}</td>
          <td>{{ paymentEnt.feeAmount }}</td>
          <td jhiTranslate="{{ 'schoolPayApp.RecordStatus.' + paymentEnt.isAmountFixed }}">{{ paymentEnt.isAmountFixed }}</td>
          <td>{{ paymentEnt.feeDescription }}</td>
          <td>{{ paymentEnt.fixedAmount }}</td>
          <td>{{ paymentEnt.paymentName }}</td>
          <td>{{ paymentEnt.outstandingAmount }}</td>
          <td jhiTranslate="{{ 'schoolPayApp.PaymentChannel.' + paymentEnt.paymentChannel }}">{{ paymentEnt.paymentChannel }}</td>
          <td>{{ paymentEnt.freeField1 }}</td>
          <td>{{ paymentEnt.freeField2 }}</td>
          <td>{{ paymentEnt.freeField3 }}</td>
          <td>
            <div *ngIf="paymentEnt.biller">
              <a [routerLink]="['/biller', paymentEnt.biller.id, 'view']">{{ paymentEnt.biller.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-ent', paymentEnt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-ent', paymentEnt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentEnt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
