<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-ent-heading"
        data-cy="PaymentEntCreateUpdateHeading"
        jhiTranslate="schoolPayApp.paymentEnt.home.createOrEditLabel"
      >
        Create or edit a Payment Ent
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.recordUniqueIdentifier" for="field_recordUniqueIdentifier"
            >Record Unique Identifier</label
          >
          <input
            type="text"
            class="form-control"
            name="recordUniqueIdentifier"
            id="field_recordUniqueIdentifier"
            data-cy="recordUniqueIdentifier"
            formControlName="recordUniqueIdentifier"
          />
          <div
            *ngIf="
              editForm.get('recordUniqueIdentifier')!.invalid &&
              (editForm.get('recordUniqueIdentifier')!.dirty || editForm.get('recordUniqueIdentifier')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recordUniqueIdentifier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.paymentId" for="field_paymentId">Payment Id</label>
          <input type="number" class="form-control" name="paymentId" id="field_paymentId" data-cy="paymentId" formControlName="paymentId" />
          <div *ngIf="editForm.get('paymentId')!.invalid && (editForm.get('paymentId')!.dirty || editForm.get('paymentId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('paymentId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.paymentCode" for="field_paymentCode">Payment Code</label>
          <input
            type="number"
            class="form-control"
            name="paymentCode"
            id="field_paymentCode"
            data-cy="paymentCode"
            formControlName="paymentCode"
          />
          <div *ngIf="editForm.get('paymentCode')!.invalid && (editForm.get('paymentCode')!.dirty || editForm.get('paymentCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('paymentCode')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.customerId" for="field_customerId">Customer Id</label>
          <input
            type="text"
            class="form-control"
            name="customerId"
            id="field_customerId"
            data-cy="customerId"
            formControlName="customerId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.feeAmount" for="field_feeAmount">Fee Amount</label>
          <input type="number" class="form-control" name="feeAmount" id="field_feeAmount" data-cy="feeAmount" formControlName="feeAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.isAmountFixed" for="field_isAmountFixed">Is Amount Fixed</label>
          <select
            class="form-control"
            name="isAmountFixed"
            formControlName="isAmountFixed"
            id="field_isAmountFixed"
            data-cy="isAmountFixed"
          >
            <option [ngValue]="null">{{ 'schoolPayApp.RecordStatus.null' | translate }}</option>
            <option *ngFor="let recordStatus of recordStatusValues" [value]="recordStatus">
              {{ 'schoolPayApp.RecordStatus.' + recordStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.feeDescription" for="field_feeDescription">Fee Description</label>
          <input
            type="text"
            class="form-control"
            name="feeDescription"
            id="field_feeDescription"
            data-cy="feeDescription"
            formControlName="feeDescription"
          />
          <div
            *ngIf="
              editForm.get('feeDescription')!.invalid && (editForm.get('feeDescription')!.dirty || editForm.get('feeDescription')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('feeDescription')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('feeDescription')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.fixedAmount" for="field_fixedAmount">Fixed Amount</label>
          <input
            type="text"
            class="form-control"
            name="fixedAmount"
            id="field_fixedAmount"
            data-cy="fixedAmount"
            formControlName="fixedAmount"
          />
          <div *ngIf="editForm.get('fixedAmount')!.invalid && (editForm.get('fixedAmount')!.dirty || editForm.get('fixedAmount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fixedAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fixedAmount')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fixedAmount')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.paymentName" for="field_paymentName">Payment Name</label>
          <input
            type="text"
            class="form-control"
            name="paymentName"
            id="field_paymentName"
            data-cy="paymentName"
            formControlName="paymentName"
          />
          <div *ngIf="editForm.get('paymentName')!.invalid && (editForm.get('paymentName')!.dirty || editForm.get('paymentName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentName')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.outstandingAmount" for="field_outstandingAmount"
            >Outstanding Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="outstandingAmount"
            id="field_outstandingAmount"
            data-cy="outstandingAmount"
            formControlName="outstandingAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.paymentChannel" for="field_paymentChannel">Payment Channel</label>
          <select
            class="form-control"
            name="paymentChannel"
            formControlName="paymentChannel"
            id="field_paymentChannel"
            data-cy="paymentChannel"
          >
            <option [ngValue]="null">{{ 'schoolPayApp.PaymentChannel.null' | translate }}</option>
            <option *ngFor="let paymentChannel of paymentChannelValues" [value]="paymentChannel">
              {{ 'schoolPayApp.PaymentChannel.' + paymentChannel | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('paymentChannel')!.invalid && (editForm.get('paymentChannel')!.dirty || editForm.get('paymentChannel')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentChannel')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.paymentEnt.biller" for="field_biller">Biller</label>
          <select
            class="form-control"
            id="field_biller"
            data-cy="biller"
            name="biller"
            formControlName="biller"
            [compareWith]="compareBiller"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="billerOption" *ngFor="let billerOption of billersSharedCollection">{{ billerOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
