<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="schoolPayApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.recordUniqueIdentifier" for="field_recordUniqueIdentifier"
            >Record Unique Identifier</label
          >
          <input
            type="text"
            class="form-control"
            name="recordUniqueIdentifier"
            id="field_recordUniqueIdentifier"
            data-cy="recordUniqueIdentifier"
            formControlName="recordUniqueIdentifier"
          />
          <div
            *ngIf="
              editForm.get('recordUniqueIdentifier')!.invalid &&
              (editForm.get('recordUniqueIdentifier')!.dirty || editForm.get('recordUniqueIdentifier')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recordUniqueIdentifier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.addressId" for="field_addressId">Address Id</label>
          <input type="number" class="form-control" name="addressId" id="field_addressId" data-cy="addressId" formControlName="addressId" />
          <div *ngIf="editForm.get('addressId')!.invalid && (editForm.get('addressId')!.dirty || editForm.get('addressId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('addressId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.addresssName" for="field_addresssName">Addresss Name</label>
          <input
            type="text"
            class="form-control"
            name="addresssName"
            id="field_addresssName"
            data-cy="addresssName"
            formControlName="addresssName"
          />
          <div
            *ngIf="editForm.get('addresssName')!.invalid && (editForm.get('addresssName')!.dirty || editForm.get('addresssName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addresssName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.addressDescription" for="field_addressDescription"
            >Address Description</label
          >
          <input
            type="text"
            class="form-control"
            name="addressDescription"
            id="field_addressDescription"
            data-cy="addressDescription"
            formControlName="addressDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPayApp.address.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="input-group">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="text"
              class="form-control"
              name="updatedAt"
              ngbDatepicker
              #updatedAtDp="ngbDatepicker"
              formControlName="updatedAt"
            />
            <button type="button" class="btn btn-secondary" (click)="updatedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="schoolPayApp.address.isDeleted"
            for="field_isDeleted"
            [ngbTooltip]="'schoolPayApp.address.help.isDeleted' | translate"
            >Is Deleted</label
          >
          <div class="input-group">
            <input
              id="field_isDeleted"
              data-cy="isDeleted"
              type="text"
              class="form-control"
              name="isDeleted"
              ngbDatepicker
              #isDeletedDp="ngbDatepicker"
              formControlName="isDeleted"
            />
            <button type="button" class="btn btn-secondary" (click)="isDeletedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
