<div>
  <h2 id="page-heading" data-cy="AssociatedFeesHeading">
    <span jhiTranslate="schoolPayApp.associatedFees.home.title">Associated Fees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schoolPayApp.associatedFees.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-associated-fees"
        [routerLink]="['/associated-fees/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schoolPayApp.associatedFees.home.createLabel"> Create a new Associated Fees </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="associatedFees?.length === 0">
    <span jhiTranslate="schoolPayApp.associatedFees.home.notFound">No Associated Fees found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="associatedFees && associatedFees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recordUniqueIdentifier">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.recordUniqueIdentifier">Record Unique Identifier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feeId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.feeId">Fee Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feeCode">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.feeCode">Fee Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feeDescription">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.feeDescription">Fee Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentEnt.id">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.associatedFees.paymentEnt">Payment Ent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let associatedFees of associatedFees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/associated-fees', associatedFees.id, 'view']">{{ associatedFees.id }}</a>
          </td>
          <td>{{ associatedFees.recordUniqueIdentifier }}</td>
          <td>{{ associatedFees.feeId }}</td>
          <td>{{ associatedFees.feeCode }}</td>
          <td>{{ associatedFees.feeDescription }}</td>
          <td>{{ associatedFees.status }}</td>
          <td>{{ associatedFees.freeField1 }}</td>
          <td>{{ associatedFees.freeField2 }}</td>
          <td>{{ associatedFees.freeField3 }}</td>
          <td>{{ associatedFees.createdAt | formatMediumDate }}</td>
          <td>{{ associatedFees.updatedAt | formatMediumDate }}</td>
          <td>{{ associatedFees.isDeleted | formatMediumDate }}</td>
          <td>
            <div *ngIf="associatedFees.paymentEnt">
              <a [routerLink]="['/payment-ent', associatedFees.paymentEnt.id, 'view']">{{ associatedFees.paymentEnt.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/associated-fees', associatedFees.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/associated-fees', associatedFees.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(associatedFees)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
