<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paybill">
      <h2 data-cy="paybillDetailsHeading"><span jhiTranslate="schoolPayApp.paybill.detail.title">Paybill</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paybill.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.recordUniqueIdentifier">Record Unique Identifier</span></dt>
        <dd>
          <span>{{ paybill.recordUniqueIdentifier }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.processTimestamp">Process Timestamp</span></dt>
        <dd>
          <span>{{ paybill.processTimestamp | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.feeAmount">Fee Amount</span></dt>
        <dd>
          <span>{{ paybill.feeAmount }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.feeDescription">Fee Description</span></dt>
        <dd>
          <span>{{ paybill.feeDescription }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.feeDueFromDate">Fee Due From Date</span></dt>
        <dd>
          <span>{{ paybill.feeDueFromDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.feeDueToDate">Fee Due To Date</span></dt>
        <dd>
          <span>{{ paybill.feeDueToDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.feeId">Fee Id</span></dt>
        <dd>
          <span>{{ paybill.feeId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.firstName">First Name</span></dt>
        <dd>
          <span>{{ paybill.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.lastName">Last Name</span></dt>
        <dd>
          <span>{{ paybill.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.middleName">Middle Name</span></dt>
        <dd>
          <span>{{ paybill.middleName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.outstandingAmount">Outstanding Amount</span></dt>
        <dd>
          <span>{{ paybill.outstandingAmount }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.paymentCode">Payment Code</span></dt>
        <dd>
          <span>{{ paybill.paymentCode }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.schoolCode">School Code</span></dt>
        <dd>
          <span>{{ paybill.schoolCode }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.schoolName">School Name</span></dt>
        <dd>
          <span>{{ paybill.schoolName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.studentClass">Student Class</span></dt>
        <dd>
          <span>{{ paybill.studentClass }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.paymentChannel">Payment Channel</span></dt>
        <dd>
          <span jhiTranslate="{{ 'schoolPayApp.PaymentChannel.' + paybill.paymentChannel }}">{{ paybill.paymentChannel }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ paybill.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ paybill.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ paybill.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.paybill.biller">Biller</span></dt>
        <dd>
          <div *ngIf="paybill.biller">
            <a [routerLink]="['/biller', paybill.biller.id, 'view']">{{ paybill.biller.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/paybill', paybill.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
