<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="school">
      <h2 data-cy="schoolDetailsHeading"><span jhiTranslate="schoolPayApp.school.detail.title">School</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ school.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.recordUniqueIdentifier">Record Unique Identifier</span></dt>
        <dd>
          <span>{{ school.recordUniqueIdentifier }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolId">School Id</span></dt>
        <dd>
          <span>{{ school.schoolId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolCode">School Code</span></dt>
        <dd>
          <span>{{ school.schoolCode }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolPhoneNumber">School Phone Number</span></dt>
        <dd>
          <span>{{ school.schoolPhoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolAlternativePhoneNumber">School Alternative Phone Number</span></dt>
        <dd>
          <span>{{ school.schoolAlternativePhoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolemailAddess">Schoolemail Addess</span></dt>
        <dd>
          <span>{{ school.schoolemailAddess }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.schoolName">School Name</span></dt>
        <dd>
          <span>{{ school.schoolName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'schoolPayApp.RecordStatus.' + school.status }}">{{ school.status }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ school.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.registrationDate">Registration Date</span></dt>
        <dd>
          <span>{{ school.registrationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.approvedDate">Approved Date</span></dt>
        <dd>
          <span>{{ school.approvedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ school.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ school.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.school.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ school.isDeleted | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/school', school.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
