<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="schoolPayApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.recordUniqueIdentifier">Record Unique Identifier</span></dt>
        <dd>
          <span>{{ address.recordUniqueIdentifier }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.addressId">Address Id</span></dt>
        <dd>
          <span>{{ address.addressId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.addresssName">Addresss Name</span></dt>
        <dd>
          <span>{{ address.addresssName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.addressDescription">Address Description</span></dt>
        <dd>
          <span>{{ address.addressDescription }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.createdAt">Created At</span></dt>
        <dd>
          <span>{{ address.createdAt | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.address.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ address.updatedAt | formatMediumDate }}</span>
        </dd>
        <dt>
          <span jhiTranslate="schoolPayApp.address.isDeleted" [ngbTooltip]="'schoolPayApp.address.help.isDeleted' | translate"
            >Is Deleted</span
          >
        </dt>
        <dd>
          <span>{{ address.isDeleted | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
