<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span jhiTranslate="schoolPayApp.customer.detail.title">Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.recordUniqueIdentifier">Record Unique Identifier</span></dt>
        <dd>
          <span>{{ customer.recordUniqueIdentifier }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.contactId">Contact Id</span></dt>
        <dd>
          <span>{{ customer.contactId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.addressId">Address Id</span></dt>
        <dd>
          <span>{{ customer.addressId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.customerId">Customer Id</span></dt>
        <dd>
          <span>{{ customer.customerId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.firstName">First Name</span></dt>
        <dd>
          <span>{{ customer.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.middleName">Middle Name</span></dt>
        <dd>
          <span>{{ customer.middleName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.lastName">Last Name</span></dt>
        <dd>
          <span>{{ customer.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.dateOfBirth">Date Of Birth</span></dt>
        <dd>
          <span>{{ customer.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'schoolPayApp.RecordStatus.' + customer.status }}">{{ customer.status }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.customerAddressId">Customer Address Id</span></dt>
        <dd>
          <span>{{ customer.customerAddressId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.customerContactId">Customer Contact Id</span></dt>
        <dd>
          <span>{{ customer.customerContactId }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ customer.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ customer.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="schoolPayApp.customer.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ customer.freeField3 }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
