<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span jhiTranslate="schoolPayApp.student.home.title">Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schoolPayApp.student.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-student"
        [routerLink]="['/student/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schoolPayApp.student.home.createLabel"> Create a new Student </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span jhiTranslate="schoolPayApp.student.home.notFound">No Students found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recordUniqueIdentifier">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.recordUniqueIdentifier">Record Unique Identifier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="studentId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.studentId">Student Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="studentCode">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.studentCode">Student Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="studentClassId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.studentClassId">Student Class Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.contactId">Contact Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressId">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.addressId">Address Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="middleName">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.middleName">Middle Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentCode">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.paymentCode">Payment Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOfBirth">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.dateOfBirth">Date Of Birth</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="outStandingAmount">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.outStandingAmount">Out Standing Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="billerContact">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.billerContact">Biller Contact</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="billerAddress">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.billerAddress">Biller Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="schoolPayApp.student.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
          </td>
          <td>{{ student.recordUniqueIdentifier }}</td>
          <td>{{ student.studentId }}</td>
          <td>{{ student.studentCode }}</td>
          <td>{{ student.studentClassId }}</td>
          <td>{{ student.contactId }}</td>
          <td>{{ student.addressId }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.middleName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.paymentCode }}</td>
          <td>{{ student.dateOfBirth | formatMediumDate }}</td>
          <td>{{ student.outStandingAmount }}</td>
          <td jhiTranslate="{{ 'schoolPayApp.RecordStatus.' + student.status }}">{{ student.status }}</td>
          <td>{{ student.billerContact }}</td>
          <td>{{ student.billerAddress }}</td>
          <td>{{ student.freeField1 }}</td>
          <td>{{ student.freeField2 }}</td>
          <td>{{ student.freeField3 }}</td>
          <td>{{ student.isDeleted | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/student', student.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/student', student.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
